.homepage-container {
    position: relative;
    .carousel-container {
        width: 100%;
        margin: 0 auto;
        .carousel-item {
            img {
                height: 600px;
                object-fit: cover;
            }
        }
    }
    .homepage-input {
        width: 40%;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        .homepage-button {
            border: none;
            padding: 8px 24px;
            border-radius: 4px;
        }
        .homepage-button:hover {
            background-color: #ccc;
            color: #fff;
        } 
    }
}