
.detail-quiz-container{
    background-color: #ccc;
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 24px;
    .detail-quiz-content__left {
        width: 70%;
        .q-body {
            margin: 36px 0;
            .q-body-part{
                display: flex;
                gap: 12px;
                .q-body-part__child {
                    width: 20%;
                    background-color: #999;
                    padding: 12px 30px;
                    text-align: center;
                }
                .q-body-part__child:first-child {
                    background-color: red;
                    color: #fff;
                }
                .q-body-part__child:hover:nth-child(n + 1) {
                    background-color: red;
                    color: #fff;
                }
            }
        }
        .q-content {
            .q-body-img {
                height: 100px;
                margin: 26px 0;
                text-align: center;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .number-question {
                font-weight: 600;
            }
            .answer-select {
                    margin-top: 12px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding-left: 12px;
                    option {
                        width: 30px;
                        text-align: center;
                        border-radius: 50%;
                        border: 1px solid #333;
                    }
                   
                }
          
        }
        .q-footer {
            display: flex;
            justify-content: center;
            gap: 24px;
            button {
                padding: 4px 10px;
                border: none;
                background-color: #fff;
                border-radius: 4px;
            }
            button:hover {
                background-color: red;
                color: #fff;
                transition: all ease .5s;
            }
        }
    }
    .detail-quiz-content__right {
        width: 30%;
    }
}