.admin-container {
    display: flex;
    gap: 20px;

    .admin-sidebar {
        flex-shrink: 0;
        height: auto!important;
        position: relative;
        .pro-sidebar {
            color: #fff;
            font-size: 21px; 
            .pro-sidebar-header {
                display: flex;
                justify-content: center;
            }
            .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
                background-color: transparent; 
            }
            .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .admin-content {
        flex: 1;
        .admin-header {
            font-size: 24px;
            cursor: pointer;
        }

    }
    
}
