.manage-user-container {
    text-align: center;
    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 12px;
        color: #666;
    }
    .user-content {
        .user-table {
            width: 80%;
            margin: 30px auto;
        }
    }
}
.modal-add-user{
    .row {
        .label-upload {
            width: 170px;
            background-color: #999;
            margin-bottom: 10px;
            border-radius: 4px;
            padding: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            &:hover {
                background-color: #dcdcdc;
                transition: all .5s linear;
            }
        }
        .img-review {
            border: 1px dashed #888;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #666;
            img {
                width: 30%;
            }
        }
    }
}
    